
<!DOCTYPE html>
<html ng-app lang="en">
<head>
    <title>Agora Creations</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0  maximum-scale=1.0 user-scalable=yes">
    <link rel="stylesheet" href="styles/main.css" type="text/css" />
    <link href="styles/jquery.mmenu.all.css" type="text/css" rel="stylesheet" />
    <link href="styles/extensions/jquery.mmenu.positioning.css" type="text/css" rel="stylesheet" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="scripts/jquery.honeycombs.js"></script> 
    <script src="scripts/jquery.js" type="text/javascript"></script>
    <script src="scripts/jquery.mmenu.min.all.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script src="scripts/angular.js" type="text/javascript"></script>
</head>


<body ng-app="app" class="body">
    <div> <!-- Wrapper for JavaScript Menu -->
        <header class="mainHeader">
            <div class="logo"><span>Agora</span> Creations</div>
            <nav id="menu">
                <ul class="main-navigation">
                    <li class="navText"><a href="#">about</a></li>
                    <li class="navText"><a href="#">clients</a></li>
                    <li class="navText"><a href="#">jobs</a></li>
                    <li class="navText"><a href="hire.html">hire us</a></li>
                    <li class="hexMail"><a href="#"><div class="mailIcon"></div></a></li>
                    <li class="hexFacebook"><a href="#"><div class="facebookIcon"></div></a></li>
                    <li class="hexTwitter"><a href="#"><div class="twitterIcon"></div></a></li>
                </ul>
            </nav>

            <a href="#menu2" class="menuButton"></a>
            <nav id="menu2">
                <ul>
                    <li><a href="#">about</a></li>
                    <li><a href="#">clients</a></li>
                    <li><a href="#">jobs</a></li>
                    <li><a href="#">hire us</a></li>
                    <li><a href="#" class="miniMail"></a></li>
                    <li><a href="#" class="miniFacebook"></a></li>
                    <li><a href="#" class="miniTwitter"></a></li>
                </ul>
            </nav>
        </header>
    </div>


    <div class="aboutHeader"> 
                    <ul class="aboutHeaderTop">
                        <li id="barLeft"'></li>
                        <li id="aboutTitle">Agora?</li>
                        <li id="barRight"></li>
                    </ul>
                    <div id="aboutText">Agora is a creative cross-media creative agency.  
    We like to make stuff.  Some stuff more than others.</div>
                    <div id="barBottom"></div>

        <header class="aboutNav" >
                <ul ng-init="tab=2" class="about-navigation">
                    <li ng-class="{active:tab===1}" class="aboutNavText"><a href ng-click="tab=1">our work</a></li>

                    <li ng-class="{active:tab===2}" class="aboutNavText"><a href ng-click="tab=2">who we are</a></li>

                    <li ng-class="{active:tab===3}" class="aboutNavText"><a href ng-click="tab=3">our story</a></li>
                </ul>
        </header>

        <div ng-show="tab===1" class="ourWork">
            <p> This where previews of what we done go.</p>
        </div>


    
        <div ng-show="tab===2" class="aboutStaffEntry">

            <div class="leftStaffEntry">
                <ul class="staffInfo">
                    <li>Ashwin Dayal</li>
                    <li>Manager</li>
                    <li><a>ashwin@agora.com</a></li>
                </ul>
            </div>

            <div class="rightStaffEntry">
                <div class="staffDescription">Ashvin Dayal joined the Rockefeller Foundation in 2008. As Associate Vice President, Managing Director, Asia, he manages the Foundation’s regional office based in Bangkok, Thailand, and oversees work across Asia, strengthening and complementing the Foundation’s initiatives around the globe. Ashvin leads a major initiative aimed at building the capacity of cities to cope with the effects of climate change, through the Asian Cities Climate Change Resilience Network (ACCCRN).<div class="staffSocial"><a href="twitter.com"></a></div></div>
                
            </div>

        </div>

        
        <div ng-show="tab===3" class="ourStory">
            <p> This where previews of our story go.</p>
        </div>



    <script type="text/javascript">
        $(document).ready(function() {
            $('.honeycombs').honeycombs({
                combWidth: 120,
                margin: 10,
                width: 5
            });

            $("#menu2").mmenu({
                offCanvas: {
                    position  : "right",
                    zposition : "front"
                }
            });
        });
    </script>
</body>
</html> 