.aboutHeader {
	position: relative;
	margin-top: 5%;

			.aboutHeaderTop {
			@include flexbox();
			@include flex-flow(row nowrap);
			@include align-items(center);
			@include justify-content(space-between);
			list-style-type: none;

				#barLeft {
				width: 42%;
				background-color: $light;
				height: 1px;
				flex-shrink: 3;
				}

				#aboutTitle {
				color: $primary-color;
				font-size: 1.5em;
				flex-shrink: 1;
				margin: 0 3%;
					@media #{$tablet}{
    					&{
    					font-size: 1.2em;
    	   			 	}
    	   			}
				}

				#barRight {
				width: 40%;
				background-color: $light;
				height: 1px;
			    flex-shrink: 3;

				}
			}
	
	#aboutText {
		font-size: 2em;
		text-align: center;
		padding: 3%;
		color: #ffffff;
			@media #{$tablet}{
    					&{
    					font-size: 1.5em;
    	   			 	}
    	   			}
	}

    #barBottom {
    width: 100%;
    background-color: #ffffff;
    height: 1px;
    }
}



.aboutNav {
	position: relative;
	height: 100px;
		.about-navigation {
			position: relative;
			margin: 5% auto;
			background-color: lighten($menubar-color, 20%);
			width: 50%;
			min-width: 350px;
			height: 40px;
			font-size: 1.2em;
			list-style-type: none;
			@include flexbox();
			@include flex-flow(row nowrap);
			@include align-items(center);
			@include justify-content(center);
	
		
			li.aboutNavText {
			display: inline-block;
			padding: 20px;
				
					@media #{$desktop1}{
    					&{
    					font-size: .8em;
    	   			 	}
    	   			}
    	   			
					& a:link, & a:visited {
					display: inline-block;
					color: #ffffff;
					}

					& a:hover, & a:active, 
					& .active a:link, & .active a:visited {
					background-color: #e52c50;
					color: #151516;
					text-shadow: none;
					height: 50px;
					padding: 15px;
					transition-property: background-color;
					transition-duration: .5s;
					overflow: visible;
					}
			}
		}
	
	}



.aboutStaffEntry {
	position: relative;
	width: 80%;
	height: 250px;
	margin: 0 auto;

		@media #{$tablet}{
    					&{
    					width: 80%;
    					margin: 0 auto;
    	   			 	}
    	   			 }

		@media #{$mobile}{
    					&{
    					width: 100%;
    					margin: auto;
    	   			 	}
    	   			 }


		.leftStaffEntry{
		 	width: 40%;
		 	color: #ffffff;
		 	position: relative;
		 	float: left;
		 		@media #{$tablet}{
    					&{
    					width: 34%;
    					margin-right: 6%;
    	   			 	}
    	   			 }
		 			@media #{$mobile}{
    					&{
    					width: 100%;
    					padding-bottom: 6%;
    	   			 	}
    	   			 }
		 		.staffInfo{
		 		list-style-type: none;
		 		position: relative;

		 			 @media #{$tablet}{
    					&{
    					font-size: .7em;

      	   			 	}
    	   			 }

		 			@media #{$mobile}{
    					&{
    					font-size: 1em;
    					width: 100%;
    					width: 60%;
    					margin: 0 auto;
    					padding-left: 0%;
    					font-size: .9em;
    					padding-left: 3%;
    					
    	   			 	}
    	   			 }

    	   			


		 			&:before {
		 			content: "";
			 		background-image: url('images/ashwinHex.png');
			 		background-repeat: no-repeat;
			 		position: absolute;
			 		width: 105px;
			 		height: 105px;
			 		left:4%;
			 			@media #{$tablet}{
    					&{
    					left: 40%;
    					top: 120%;
      	   			 	}
      	   			 }
      	   			 	@media #{$mobile}{
    					&{
    					left: -3%;
    					top: 0%;
      	   			 	}
    	   			 }
    
			 		}
			 		&:hover:before {
			 		transition: 1s ease-in-out;
					-webkit-transform: rotate(1turn);
			 		}

		 			li {
		 			padding-bottom: 8px;
		 			padding-top: 2%;
		 			margin-left: 40%;
		 			}
		 			li:nth-child(1) {
		 			font-size: 1.4em;
		 			padding-bottom: 12px;
		 				@media #{$tablet}{
    					&{
    					font-size: 1.5em;
    	   			 	}
    	   			 }
		 			}
		 			li:nth-child(2) {
		 			font-size: 1em;
		 				@media #{$tablet}{
    					&{
    					font-size: 1.2em;
    	   			 	}
		 			}
		 			}
		 			li:nth-child(3) {
		 			@media #{$tablet}{
    					&{
    					font-size: 1em;
    	   			 	}
		 				}

		 			a {
		 			font-size: 1em;
		 			color: $primary-color;

		 				@media #{$tablet}{
    					&{
    					font-size: 1em;
    	   			 	}
		 				}

		 				&:hover {
		 				color: lighten($primary-color, 10%);
		 				transition: 1s;
		 				}
		 			}
		 		}
			 		}
		 		
			}

		.rightStaffEntry{
		 	width: 50%;
		 	height: 100%;
		 	float: left;
		 			@media #{$tablet}{
    					&{
    					width: 60%;
    	   			 	}
    	   			 }

    	   			 @media #{$mobile}{
    					&{
    					width: 100%;
    	   			 	}
    	   			 }
		 		
		}

		.staffDescription{
		border-top: dotted 1px;
		border-color: white;
		padding-top: 5px;
		line-height: 1.5em;
		color: #ffffff;
			@media #{$tablet}{
    					&{
    					margin: 0 auto;
    					font-size: 1.1em;
    	   			 	}
    	   			 }
			@media #{$mobile}{
    					&{
    					width: 80%;
    					margin: 0 auto;
    					font-size: 1em;
    	   			 	}
    	   			 }

    	
		}
		
		.staffSocial {
		}

		.staffSocial:after {
		content: "\e601";
		font-family: icomoon;
		color: $primary-color;
		}

		.staffSocial:hover:after {
			color: lighten($primary-color, 15%);
			transition: 1s;
			}
}

.ourWork {
	
	position: relative;
	margin: 0 auto;
	width: 80%;
	height: auto;
	color: #ffffff;
}



.ourStory {
	
	position: relative;
	margin: 0 auto;
	width: 80%;
	height: auto;
	color: #ffffff;
}

/*ANIMATIONS*/




.aboutStaffEntry, .ourWork, .ourStory{
-webkit-animation: 0.5s fade-in;
-moz-animation: 0.5s fade-in;
-o-animation: 0.5s fade-in;
animation: 0.5s fade-in;
z-index: 100;
}


@keyframes fade-in {
from { opacity: 0; }
to { opacity: 1; }
}
@-moz-keyframes fade-in {
from { opacity: 0; }
to { opacity: 1; }
}
@-webkit-keyframes fade-in {
from { opacity: 0; }
to { opacity: 1; }
}

@keyframes fade-out {
from { opacity: 1; }
to { opacity: 0; }
}
@-moz-keyframes fade-out {
from { opacity: 1; }
to { opacity: 0; }
}
@-webkit-keyframes fade-out {
from { opacity: 1; }
to { opacity: 0; }
}
