
/* IMPORTED FONTS */

@font-face {
    font-family: Klavika;
    src: url(fonts/Klavika-Regular.otf);
}


@font-face {
    font-family: Brandon;
    src: url(fonts/brandon_re.ttf);
}

@font-face {
    font-family: Droid-Serif;
    src: url(fonts/DroidSerif.ttf);
}




/* IMPORTED ICONS*/


@font-face {
	font-family: 'icomoon';
	src:url('icons/icomoon.eot?5mx211');
	src:url('icons/icomoon.eot?#iefix5mx211') format('embedded-opentype'),
		url('icons/icomoon.woff?5mx211') format('woff'),
		url('icons/icomoon.ttf?5mx211') format('truetype'),
		url('icons/icomoon.svg?5mx211#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'iconav';
    src:url('icons/nav/icomoon.eot?5mx211');
	src:url('icons/nav/icomoon.eot?#iefix5mx211') format('embedded-opentype'),
		url('icons/nav/icomoon.woff?5mx211') format('woff'),
		url('icons/nav/icomoon.ttf?5mx211') format('truetype'),
		url('icons/nav/icomoon.svg?5mx211#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

