/* ROOT */

body {
	background-color: $background-color;
	font-family: $primary-font;
	
			a {
			color: $link-color;
			font-family: $primary-font;
			text-decoration: none;
			
				&:hover {
				color: $primary-color;
				}
				
			}
}




.body {
	margin: 0 auto; 
	width: 95%;
	clear: both;
}


/* 
----------------------------
HEADER
----------------------------
 */ 
 
 
.mainHeader {
	position: relative;
	height: 100px;
	
		.logo {
		font-size: 4em;
		font-family: Klavika;
		color: $text-color;
		position: absolute;
		left: -.4%;
		top: 20%;
			@media #{$tablet} {
			& {
    		font-size: 3.2em;
    		padding-top: 9px;
    		}
    		}
		}
		
		
		.main-navigation {
		position: absolute;
		right: 0%;
		top: 28%;
		background-color: $menubar-color;
		width: 50%;
		min-width: 350px;
		height: 40px;
		font-size: 1.2em;
		list-style-type: none;
		@include flexbox();
		@include flex-flow(row nowrap);
		@include align-items(center);
		@include justify-content(space-around);
		
			@media #{$tablet} {
			display: none;
			}
		
			li.navText {
			color: #ffffff;
			display: inline-block;
				
					@media #{$tablet}{
    					&{
    					font-size: 1em;
    	   			 	}
    	   			}
    	   			
					& a:link, & a:visited {
					color: #ffffff;
					display: inline-block;
					padding: 10px;
					}

					& a:hover, & a:active, 
					& .active a:link, & .active a:visited {
					background-color: #e52c50;
					color: #151516;
					text-shadow: none;
					height: 35px;
					padding-top: 25px;
					transition-property: background-color;
					transition-duration: .5s;
					}
			}
		}
	
	
	.menuButton {
	position: absolute;
	right: -1%;
	padding-top: 30px;
	display: none;
		@media #{$tablet} {
		display: block;
		}
			&:before {
			position: relative;
			content: "\e608";
			font-family: "icomoon";
			color: $link-color;
			font-size: 3em;
			}
				
			&:hover:before {
			color: $primary-color;
			transition-property: color;
			transition-duration: 1s;
			}
		}
	

	
	
	
	
	/* --------------------------
	SOCIAL ICONS
	----------------------------- */		
	

	.hexMail {
		@include hexagon(2px, 10px, 32px, 16px, $primary-color, mail, "\e604");
		}


	.hexFacebook {
    	@include hexagon(2px, 10px, 32px, 16px, $facebook, facebook, "\e600");
		}


	.hexTwitter {
    	@include hexagon(2px, 10px, 32px, 16px, $twitter, twitter, "\e601");
    	}

	}
	
	

	
	

	



