/* FONTS */
$primary-font: Brandon;
$secondary-font: Klavika;




/* COLOR PALETTE */
$primary-color: #e52c50;
$background-color: #151516;
$link-color: #ffffff;
$text-color: #ffffff;
$menubar-color: #1b2328;
$light: #ffffff;
$dark: #151516;
$sidebar: #364356;
			
			/*SOCIAL ICONS */
			$facebook: #4e62d8;
			$twitter: #3aacf9; 
			
			
			
			
			
			
			
/* RESPONSIVE POINTS */

$mobile: "only screen and (max-width : 575px)";
$tablet: "only screen and (max-width : 800px)";
$desktop: "only screen and (min-width : 801px)";


